@use 'sass:color';

$color: #BC5435;
$color-alt: color.scale($color, $lightness: 70%);
$color-lightest: #fff;

$font-sans:'League Spartan', Arial, Helvetica, sans-serif;

$gutter: 1.4rem;

$delay-fast: 0.2s;
$delay-slow: 1s;