@use 'reset';
@use 'fonts';
@use 'variables' as v;

body {
  font-family: v.$font-sans;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style-type: none;
}